.wrap {
  width: 280px;
  margin: 0 24px;
}

.formControl {
  display: flex;
  margin: 0 24px;
}

.checkboxGroup {
  display: flex;
}

// * лучше не использовать
.checkboxGroup > * {
  padding-left: 24px;
  margin-right: 0 !important;
}

// * лучше не использовать
.checkboxGroup > *:hover {
  background-color: #f1fcff;
}

.checkboxGroupHeader {
  margin-left: 24px;
  margin-bottom: 12px;
  font-weight: 600;
}
