.ticketWrap {
  min-width: 500px;
  background-color: #fff;
  padding: 20px;
  font-weight: 500;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 34px;
  color: #2196f3;
  font-weight: 600;
  margin-bottom: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// для данной задачи это работает, но для больших проектов так лучше не делать
// потому что в больших проектах постоянно что-то изменяется и лучше явно пользоваться классами
// я имею ввиду "*"
.content > * {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.ContentSectionHeader {
  color: #a0b0b9;
}
