.ticketWrap {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 500px;
  background-color: #fff;
  height: 175px;
  padding: 20px;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 34px;
  color: #2196f3;
  font-weight: 600;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content > * {
  display: flex;
  align-items: center;
  height: 50px;
}
