.ticketWrap {
  min-width: 500px;
  background-color: #fff;
  padding: 20px;
  font-weight: 500;
}

.ticketHeader {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  font-size: 34px;
  color: #2196f3;
  font-weight: 600;
  margin-bottom: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contentItem {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}

.contentSectionHeader {
  color: #a0b0b9;
}
